.customNavbar {
  background-color: #011C2C;
}

.navbar-dark .navbar-brand {
  color: yellow;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.navbar-nav {
  margin-right: 5%;
}

.container {
  margin: 0px;
}

.customBrand {
  font-weight: bolder;
  font-size: x-large;
  white-space: unset;
  padding-right: 5%;
  margin: 0px;
}
